@model IEnumerable<WebFerreteria.Models.DetallePedido>

@{
    ViewData["Title"] = "Detalle Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="usuarios-header">
    <h4>Detalles del Pedido</h4>
    <a asp-action="Create" class="btn-large blue darken-2 waves-effect waves-light">
        <i class="material-icons left">receipt_long</i> Crear Detalle de Pedido
    </a>
</div>

<!-- Resumen de Ventas por Producto -->
@if (ViewBag.ResumenVentas != null)
{
    <div class="card resumen-ventas-container">
        <div class="card-content">
            <h5 class="blue-text text-darken-2">Resumen de Ventas por Producto</h5>
            <table class="highlight responsive-table centered striped">
                <thead class="grey lighten-3">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad Vendida</th>
                        <th>Total en Ventas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ResumenVentas)
                    {
                        <tr>
                            <td>@item.Producto</td>
                            <td>@item.TotalCantidad</td>
                            <td>$@string.Format("{0:N0}", item.TotalVentas)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<!-- Tabla de Detalles de Pedido -->
<div class="card usuarios-table-container">
    <div class="card-content">
        <table class="highlight responsive-table centered striped">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                    <th>@Html.DisplayNameFor(model => model.PrecioUnitario)</th>
                    <th>@Html.DisplayNameFor(model => model.Pedido)</th>
                    <th>@Html.DisplayNameFor(model => model.Producto)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                        <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pedido.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                        <td class="acciones-btns">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-small blue tooltipped" data-position="top" data-tooltip="Editar">
                                <i class="material-icons">edit</i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-small green tooltipped" data-position="top" data-tooltip="Detalles">
                                <i class="material-icons">info</i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-small red tooltipped" data-position="top" data-tooltip="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este detalle de pedido?');">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
